@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}
body > * {
    width: 96%;
    margin: 12px 2% 12px;
}
#title {
    padding: 0 0 12px 0;
    border-bottom: 2px solid lightgray;
    font-size: 32px;
    font-weight: normal;
}
#subtitle {
    font-size: 24px;
    font-weight: lighter;
}
#info {
    text-align: center;
    color: #004085;
    background-color: #cce5ff;
    border:1px solid #b8daff;
    padding: 0.5em 0;
    border-radius:0.2em
}
#container {
    display: inline-block;
}
